.map-container {
  height: 800px;
  position: relative;
}
.main {
  max-width: 960px;
  margin: 0px auto;
  padding: 50px 15px;
  min-height: 100vh;
}
.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 50;
  left: 50;
  margin: 12px;
  border-radius: 4px;
}
